In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns = list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.442957  0.604927  0.901951 -0.273627
2013-01-02  0.305265 -0.895433  0.660628  0.783521
2013-01-03 -0.032147  0.938191 -0.502093  0.538006
2013-01-04  1.306524  0.245084 -1.791461 -1.422769
2013-01-05  1.270382  1.741084  0.190837 -0.031437
2013-01-06  1.381168  0.950653 -1.309913  0.641937

In [10]:
df.head(2)

                   A         B         C         D
2013-01-01  0.442957  0.604927  0.901951 -0.273627
2013-01-02  0.305265 -0.895433  0.660628  0.783521

In [11]:
df.tail(2)

                   A         B         C         D
2013-01-05  1.270382  1.741084  0.190837 -0.031437
2013-01-06  1.381168  0.950653 -1.309913  0.641937

In [12]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.values

array([[ 0.44295669,  0.60492719,  0.9019508 , -0.27362713],
       [ 0.30526462, -0.89543345,  0.66062816,  0.78352051],
       [-0.03214747,  0.93819091, -0.5020932 ,  0.5380056 ],
       [ 1.30652364,  0.24508383, -1.79146084, -1.42276863],
       [ 1.27038216,  1.74108431,  0.19083745, -0.03143699],
       [ 1.38116779,  0.95065264, -1.30991282,  0.64193683]])

In [14]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.779025  0.597418 -0.308342  0.039272
std    0.612806  0.883366  1.085653  0.825386
min   -0.032147 -0.895433 -1.791461 -1.422769
25%    0.339688  0.335045 -1.107958 -0.213080
50%    0.856669  0.771559 -0.155628  0.253284
75%    1.297488  0.947537  0.543180  0.615954
max    1.381168  1.741084  0.901951  0.783521

In [16]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.442957    0.305265   -0.032147    1.306524    1.270382    1.381168
B    0.604927   -0.895433    0.938191    0.245084    1.741084    0.950653
C    0.901951    0.660628   -0.502093   -1.791461    0.190837   -1.309913
D   -0.273627    0.783521    0.538006   -1.422769   -0.031437    0.641937

In [18]:
df.sort_index(axis=1, ascending = True)

                   A         B         C         D
2013-01-01  0.442957  0.604927  0.901951 -0.273627
2013-01-02  0.305265 -0.895433  0.660628  0.783521
2013-01-03 -0.032147  0.938191 -0.502093  0.538006
2013-01-04  1.306524  0.245084 -1.791461 -1.422769
2013-01-05  1.270382  1.741084  0.190837 -0.031437
2013-01-06  1.381168  0.950653 -1.309913  0.641937

In [19]:
df.sort_values(by='C')

                   A         B         C         D
2013-01-04  1.306524  0.245084 -1.791461 -1.422769
2013-01-06  1.381168  0.950653 -1.309913  0.641937
2013-01-03 -0.032147  0.938191 -0.502093  0.538006
2013-01-05  1.270382  1.741084  0.190837 -0.031437
2013-01-02  0.305265 -0.895433  0.660628  0.783521
2013-01-01  0.442957  0.604927  0.901951 -0.273627

In [20]:
df['A']

2013-01-01    0.442957
2013-01-02    0.305265
2013-01-03   -0.032147
2013-01-04    1.306524
2013-01-05    1.270382
2013-01-06    1.381168
Freq: D, Name: A, dtype: float64

In [21]:
df[0:3]

                   A         B         C         D
2013-01-01  0.442957  0.604927  0.901951 -0.273627
2013-01-02  0.305265 -0.895433  0.660628  0.783521
2013-01-03 -0.032147  0.938191 -0.502093  0.538006